html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, output, ruby, section, summary,
time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.page {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 50px 50px;
  background-color: #445162;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-title {
  margin: 0 0 51px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
}

.header-list {
  margin: 0 0 0 36px;
  list-style-type: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.header-item {
  position: relative;
}

.header-item:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 19px;
  top: 7px;
  left: -37px;
  background-image: url(../img/list-item-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about {
  padding: 50px 50px;
  display: flex;
}

.about-header {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 30px;
}

.about-text {
  color: #333333;
}

.about-p2-margin {
  margin: 20px 0 0;
}

.about-image {
  margin: 0 0 0 97px;
}

.about-video {
  margin: 0 0 0 97px;
  object-fit: cover;
}

.dignity {
  padding: 50px;
  background-color: #f5f5f5;
}

.dignity-header {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

.dignity-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.dignity-list-item {
  width: 50%;
  margin: 0 0 35px;
}

.dignity-list-text {
  color: #333333;
  position: relative;
  padding: 0 0 0 46px;
}

.dignity-list-item:nth-child(5),
.dignity-list-item:nth-child(6) {
  margin: 0;
}

.dignity-list-text:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.screenshots {
  margin: 50px;
}

.screenshots-header {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 35px;
}

.screenshots-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.screenshots-item {
  display: flex;
  width: 50%;
  margin: 0 0 30px;
}

.screenshots-item:nth-child(3),
.screenshots-item:nth-child(4) {
  margin: 0;
}

.screenshot-image {
  margin: 0 15px 0 0;
}

.screenshot-header-text {
  color: #445161;
  font-size: 24px;
  line-height: 30px;
}

.screenshot-text {
  color: #333333;
  padding: 0 16px 0 0;
}

.reviews {
  background-color: #f5f5f5;
  padding: 50px;
}

.reviews-header {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 35px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}


.reviews-item {
  display: flex;
  margin: 0 0 24px;
  width: 50%;
}

.reviews-item:nth-child(3),
.reviews-item:nth-child(4) {
  margin: 0;
}

.reviews-card:last-child {
  margin: 0;
}

.reviews-userimg {
  margin: 0 28px 0 0;
  border-radius: 75px;
}

.reviews-usercomment {
  background-color: #ebebeb;
  border-radius: 5px;
  position: relative;
  margin: 0 32px 0 0;
}

.reviews-usercomment:before {
  content: "";
  border: 15px solid transparent;
  border-right: 15px solid #ebebeb;
  position: absolute;
  top: 20px;
  left: -30px;
}

.reviews-text {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 20px 15px;
  font-style: italic;
}

.reviews-username {
  color: #989898;
  font-size: 14px;
  line-height: 18px;
  margin: 0 20px 16px;
}

.price {
  padding: 0 145px;
}

.price-header {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 50px 0 30px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}

.price-card {
  background-color: #445162;
  width: 300px;
  align-self: flex-end;
  border-radius: 5px;
}

.price-card:first-child {
  min-height: 306px;
}

.price-card:nth-child(2) {
  min-height: 404px;
}

.price-card:last-child {
  min-height: 499px;
}

.price-card-header {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 17px 103px;
}

.price-number {
  color: #445162;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  padding: 18px 106px;
  border: 2px solid #445162;
}

.price-list {
  list-style-position: inside;
  margin: 20px;
}

.price-list-item {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.price-button {
  margin: 20px;
  padding: 14px 111px;
  border-radius: 7px;
  border: none;
}

.price-button:hover {
  background-color: lightgray;
}

.price-button:active {
  background-color: #fff;
}

.price-button-text {
  color: #445161;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.footer-container {
  background-color: #445162;
  padding: 53px 0 49px;
}

.footer-header {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 31px;
}

.footer-wrapper {
  display: flex;
}

.footer-form {
  margin: 0 0 0 249px;
}

input[type="text"],
input[type="email"]{
  width: 500px;
  padding: 12px 0;
  border: 0px;
  margin: 0 0 21px;
  border-radius: 5px;
}

textarea {
  resize: none;
  padding: 10px 0;
  width: 500px;
  border-radius: 5px;
  margin: 0 0 15px;
  line-height: normal;
}

input::placeholder,
textarea::placeholder {
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 10px;
}

input[type="submit"]{
  display: block;
  width: 140px;
  padding: 12px 0;
  border-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #445162;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background: lightgrey;
}

input[type="submit"]:active {
  background: #fff;
}

.footer-contacts-list {
  list-style-type: none;
  margin: 8px 75px 0;
}

.footer-contacts-item {
  position: relative;
  margin: 0 0 29px;
  color: #ffffff;
  line-height: 16px;
}

.footer-contacts-item:before {
  content: "";
  display: block;
  width: 24px;
  height: 26px;
  top: -6px;
  left: -29px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.footer-contacts-item:first-child::before {
  background-image: url(../img/skype_icon.png);
}

.footer-contacts-item:nth-child(2)::before {
  width: 26px;
  background-image: url(../img/icq_icon.png);
}

.footer-contacts-item:nth-child(3)::before {
  background-image: url(../img/email_icon.png);
}

.footer-contacts-item:last-child::before {
  background-image: url(../img/phone_icon.png);
}

.footer-contacts-link {
  text-decoration: none;
  color: #fff;
}

.footer-contacts-link:hover {
  color: lightskyblue;
}

.footer-contacts-link:active {
  color: aquamarine;
}

.footer-socials-list {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 45px;
}

.footer-socials-item {
  margin: 0 7px 0 0;
}

.footer-socials-image {
  border-radius: 42px;
}


.footer-socials-image:hover {
  background-color: lightskyblue;
}

.footer-socials-image:active {
  background-color: aquamarine
}


@font-face {
  font-family: "ArialMT";
  src: url(../fonts/02587_ARIALMT.ttf);
}
